/* ========================================================================== */
/* MAIN
/* ========================================================================== */

/* Home */
a {color: #d93921;}
a:hover {color: #d93921;}
.glyphicon {color: #d93921;}

.progress-bar-theme {background-color: #d93921;}

.zoomOverlay {background-color: rgb(255, 101, 77) !important;}
.navbar-inverse {background-color: #d93921 !important; border-color: #d93921 !important;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border: none;}