<div id="blue">

	<div class="container">

		<div class="row">

			<h3>Notícias</h3>

		</div>

	</div>

</div>

<div class="container mtb">

	<div class="row">

		<div class="col-md-12">

			<div class="spacing">

			</div>

			<div class="row text-center center-block">

				<?php foreach ($parceiros as $parceiro): ?>

					<div class="col-md-4">

						<p>

							<a href="<?php echo $parceiro['Parceiro']['link']; ?>" target="_blank">

								<img class="img-responsive" src="http://placehold.it/450x350&text=<?php echo $parceiro['Parceiro']['titulo']; ?>" alt="">

							</a>

						</p>

					</div>

				<?php endforeach ?>

			</div>

		</div>

	</div>

</div>